<div class="container">
    <h2 class="my-4">Nuestros Productos</h2>
    <div *ngIf="loading">Cargando productos...</div>
    <div *ngIf="!loading && products.length === 0">No hay productos disponibles</div>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card h-100">
          <img [src]="product.image" class="card-img-top" [alt]="product.name" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Precio: {{ product.price | currency }}</p>
            <a [routerLink]="['/productos', product.id]" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  